@model List<Product>

@{
	ViewData["Title"] = "All Products";
}

<div class="container p-4">
	<h2 class="text-center">Products in Stock</h2>
	<hr class="mx-auto" />
	<table class="table table-bordered bg-light mx-auto">
		<tbody>
			<tr>
				<th>Stock Summary</th>
				<td>Total Items: @ViewBag.TotalItems</td>
				<td>Total Category: @ViewBag.TotalCategories</td>
				<td>Total Quntity: @ViewBag.TotalQuantity</td>
				<td>Total Stock Value: @ViewBag.TotalValue BDT</td>
			</tr>
		</tbody>
	</table>
	<div class="card mx-auto mt-4 shadow">
		<div class="card-body px-0">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="ps-5">ID</th>
						<th>Image</th>
						<th>Name</th>
						<th>Category</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total Value</th>
						<th>Stock Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var product in Model)
					{
						<tr>
							<th class="ps-5">@product.Id</th>
							@if (product.Image != null)
							{
								<td><img src="@product.Image" width="50" height="50" alt="Product image" /></td>
							}
							else
							{
								<td><img src="~/assets/no-image.jpg" width="50" height="50" alt="No image" /></td>
							}
							<td>@product.Name</td>
							<td>@product.Category.Name</td>
							<td>@product.Price tk</td>
							<td>@product.Quantity @product.Unit</td>
							<td>@(product.Price * product.Quantity) tk</td>
							<td>
								@if (product.InStock)
								{
									<span class="badge bg-success">In Stock</span>
								}
								else
								{
									<span class="badge bg-danger">Out of Stock</span>
								}
							</td>
							<td>
								<a class="btn btn-dark btn-sm me-2" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Update</a>
								<a class="btn btn-danger btn-sm" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>